.home-page {
    background-color: black;
    color: white;
    height: 100vh;
    padding: 50px;
    padding-top: 30px;
}

.welcome-message {
    margin-top: 200px;
    text-align: center;
    font-weight: 800;
}

.lorem-ipsum {
    margin-top: 20px;
    text-align: justify;
}

.explore-button {
    color: blue;
    margin-left: 500px;
    margin-top: 30px;
    background-color: black;
    border: 1px solid blue;
    padding: 10px;
}