.product-container {
    display: flex;
    width: 90vw;
    height: 70vh;
    margin-top: 70px;
    margin-left: 50px;
    box-shadow: 1px 2px 9px black;
}

.left-panel {
    height: 100%;
    width: 40%;
    background-color: black;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.right-panel-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.items {
    cursor: pointer;
    
}